/* Start Variables */
:root {
  --main-color: #006e96;
  --secondary-color: #ffd328;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --font-color: #444;
  --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Header */
header {
  padding-top: 10px;
  margin-bottom: 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header .container .image {
  width: 120px;
}
header .container .image img {
  max-width: 100%;
  border-radius: 12px;
}
header .container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
header .container ul a {
  text-decoration: none;
  color: var(--font-color);
  margin-left: 15px;
}
@media (max-width: 1200px) {
  header .container ul a {
    margin-left: 5px;
  }
}
@media (max-width: 992px) {
  header .container .image {
    width: 100px;
  }
  header .container {
    padding-right: 5px;
    padding-left: 5px;
  }

  header .container ul a {
    margin-left: 3px;
  }
}
@media (min-width: 767px) {
  header .container {
    padding: 0;
  }
}
@media (max-width: 767px) {
  header .container .image {
    width: 80px;
  }
  header .container {
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
  }
}
/* End Header */
/* Start Landing */
.landing {
  background-image: url(/img/landing.jpg);
  background-size: cover;
  height: calc(100vh - 50px);
  margin-top: 0;
  position: relative;
}
.landing .text {
  position: absolute;
  top: 30%;
  left: 50%;
}
@media (max-width: 1200px) {
  .landing {
    background-image: url(/img/landing2.jpg);
  }
  .landing .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.landing .container h2 {
  margin-top: 0;
  font-size: 40px;
  font-weight: 700;
  color: var(--main-color);
}
.landing .container h3 {
  margin-top: -20px;
  color: var(--main-color);
}
.landing .container p {
  line-height: 1.5;
  font-weight: 500;
  color: var(--font-color);
  width: fit-content;
  margin-top: 10px 0 10px 0;
}

.landing .container input {
  background-color: var(--main-color);
  color: var(--section-background);
  border-radius: 12px;
  border-color: transparent;
  padding: 10px 20px;
}
/* End Landing */
/* Start About  */
.about-fawry {
  padding-top: calc(var(--section-padding) - 20px);
  padding-bottom: calc(var(--section-padding)-10px);
}
.about-fawry .container {
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
}
.special-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.special-heading p {
  position: relative;
  border-radius: 12px;
  padding: 10px 15px;
  font-size: 20px;
  text-align: center;
  background-color: var(--main-color);
  color: var(--section-background);
  width: 30%;
  height: 30%;
  font-weight: bold;
}

.special-heading p::before {
  content: " ";
  position: absolute;
  background-color: var(--secondary-color);
  transform: translate(-50%, -50%);
  top: 65%;
  left: 53%;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* .special-heading {
  color: var(--main-color);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: relative;
}
.special-heading p {
  margin: 0;
  padding: 0;
}

.special-heading::before {
  content: " ";
  position: absolute;
  background-color: var(--secondary-color);
  width: 6%;
  height: 5px;
  left: 48%;
  top: 35px;
} */
.about-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.about-content .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 2px solid #f6f6f6;
  border-color: transparent transparent #f6f6f6;
  border-radius: 20px;
}
.about-content img {
  height: 50vh;
  border-radius: 20px;
}
@media (max-width: 993px) {
  .about-content img {
    height: 40vh;
  }
}

.about-content .card .text {
  text-align: center;
  padding-left: 5px;
  padding-bottom: 10px;
}
.about-content .card .text h4 {
  font-size: 20px;
  color: #444;
}
.about-content .card .text p {
  color: #777;
  font-size: 15px;
  line-height: 1.5;
  margin-top: -10px;
  margin-bottom: 20px;
}
.about-content .card .text input {
  background-color: var(--main-color);
  color: var(--section-background);
  border-color: transparent;
  border-radius: 12px;
  padding: 5px 20px;
  margin-bottom: 20px;
}
/* End About  */
/* Start News */
.news {
  padding-top: calc(var(--section-padding) - 10px);
  padding-bottom: calc(var(--section-padding) + 20px);
}
.news .news-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}
.news .news-content .card img {
  border-radius: 12px;
  max-width: 100%;
}
.news .news-content .card .text {
  padding: 10px;
}
.news .news-content .card .text h5 {
  color: #777;
  margin-top: -5px;
}
.news .news-content .card .text p {
  color: #444;
  line-height: 1.5;
  margin-top: -5px;
}
.news .news-content .card .text input {
  background-color: var(--main-color);
  color: var(--section-background);
  border-color: transparent;
  border-radius: 12px;
  padding: 5px 20px;
  margin-top: 10px;
}
/* End News */
/* Start Payment */
.payment {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.payment-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.payment-content img {
  max-width: 100%;
  background-color: white;
}
/* End Partment */
/* Start Footer */
footer {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) - 20px);
  background-color: var(--main-color);
  color: var(--section-background);
}
footer .links {
  display: flex;
  justify-content: space-around;
}
footer .links .section {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  footer .links .section p {
    font-size: 10px;
  }
}
footer .links .section p {
  margin-top: -10px;
}
footer .links .section .img {
  background-color: var(--main-color);
  width: 120px;
}
footer .links .section.down {
  display: flex;
  flex-direction: column;
}
footer .links .section h4 {
  font-size: 15px;
}
footer .links .section.down h4 {
  padding-left: 10px;
  padding-right: 10px;
}
footer .links .section .img img {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
footer .links .section .img img:first-child {
  margin-left: -15px;
  padding-left: 15px;
}
footer .links .section .img img:nth-child(2) {
  max-width: 80%;
  margin-top: -10px;
}
footer .links .section .img img:last-child {
  max-width: 90%;
  margin-top: -50px;
  margin-left: -5px;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 25px;
  padding-right: 50px;
  margin-bottom: -20px;
}
footer .footer-content .text {
  display: flex;
  flex-direction: column;
}
footer .footer-content .text p {
  font-size: 15px;
}
footer .footer-content .text p:nth-child(2) {
  margin-top: -15px;
}
footer .footer-content img {
  width: 100px;
  padding-top: -15px;
  align-self: center;
  border-radius: 12px;
}
footer .footer-content .icons {
  align-self: center;
  margin-left: 50px;
}
@media (max-width: 767px) {
  footer .footer-content .icons {
    align-self: center;
    margin-left: 30px;
  }
}
footer .footer-content i {
  width: 50px;
  margin-left: -20px;
  color: var(--section-background);
}

/* End Footer */
